<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.parkingmanagesys.DAO.BookingMapper">
    <!--根据carId-->
    <select id="selectByCarId" resultType="Booking" parameterType="java.lang.String">
        SELECT *
        FROM booking
        WHERE Car_id=#{carId}
    </select>

    <!--    根据bookingId查-->
    <select id="selectByBookingId" resultType="Booking" parameterType="java.lang.Integer">
        SELECT *
        FROM booking
        WHERE Booking_Id=#{bookingId}
    </select>

<!--添加预约信息-->
    <insert id="insertBooking" parameterType="Booking">
        INSERT INTO booking(Car_Id,Booking_Id,Space_Id)
        VALUES (#{carId},#{bookingId},#{spaceId})
    </insert>

    <!--出场后根据carId删除booking-->
    <delete id="deleteByCarId" parameterType="java.lang.String">
        DELETE
        FROM booking
        WHERE Car_Id=#{carId}
    </delete>

</mapper>